<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="ConfigSettingsPanel">
		<size>531,310</size>
		<maxsize>-1,-1</maxsize>
		<id_arg>0</id_arg>
		<object class="wxNotebook" name="ID_NOTEBOOKCONFIGPANELS" variable="NotebookConfigPanels" member="yes">
			<pos>0,0</pos>
			<size>448,416</size>
		</object>
	</object>
</wxsmith>
